html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #333;
    background: black;
    overflow: hidden; /* Evitar barras de scroll innecesarias */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

header {
    background-color: purple;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 20px;
    z-index: 1;
    position: relative;
    height: calc(100vh - 8rem); /* Altura restante después de header y footer */
}

.title, nav {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin: 20px 0;
    z-index: 1;
    background: transparent;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: purple;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: violet;
}

/* Botones visibles sobre el video */
nav ul li button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease;
}

nav ul li button:hover {
    background-color: darkgray;
}

video {
    position: fixed; /* Cambiar a fixed para abarcar toda la pantalla */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100%; /* Ocupa todo el alto */
    object-fit: cover; /* Escala el video para cubrir el área */
    z-index: 0; /* Asegura que esté debajo del título y botones */
}
